*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  12px 8%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100000000;
    background: white;
    box-shadow: 0 0 16px 0 gray;
}

nav ul {
    display: flex;
    gap: 48px;
}

nav ul li a {
    text-decoration: none;
    color: #1b0238;
    font-weight: bold;
}

nav div {
    display: flex;
    align-items: center;
    gap: 24px;
}

nav div a {
    text-decoration: none;
    color: #1b0238;
    font-weight: bold;
}

nav div button {
    border: none;
    color: white;
    background: #ea512e;
    padding: 16px 38px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 400;
}

.toolbar{
    display: none;
}

.toolbar span{
   font-size: 40px;
}

.header{
    background: url(../images/main-banner-bg.jpg);
    background-size: cover;
    display: flex;
    padding-top: 15px;
    padding-left: 100px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.header div div h1{
     font-size: 60px;
     color: #1B0238;
     margin-top: 0;
     margin-bottom: 10px;
}

.header div div .title{
    color: #ea512e;
    font-weight: bold;
    font-size: 20px;
}

.header div div .content{
    color: gray;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.header button{
    margin-top: 25px;
    border: none;
    padding: 16px 24px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.header .btn-1{
    background: #ea512e;
    margin-right: 25px;
}

.header .btn-2{
    background: #F5890D;
}

.header .btn-1:hover{
    background: #F5890D;
}

.header .btn-2:hover{
    background: #ea512e;
}

.banner-1{
    width: 6%;
    position: absolute;
    top: 10px;
    left: 40px;
    animation: move 1s infinite linear alternate;
}

.banner-2{
    width: 8%;
    position: absolute;
    top: 50px;
    left: 700px;
    animation: moveTwo 1s infinite linear alternate;
}

.banner-3{
    width: 6%;
    position: absolute;
    top: 490px;
    left: 20px;
    animation: moveThree 1s infinite linear alternate;
    z-index: 10000;
}

.banner-4{
    width: 8%;
    position: absolute;
    top: 480px;
    left: 760px;
    animation: moveFour 1s infinite linear alternate;
}

.banner-5{
    width: 100%;
    position: absolute;
    top: 580px;
    left: 0;
}

.feature img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.feature{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px
}

.feature-content{
    margin-left: 30px;
    position: relative;
}

.feature-content h1{
    color: #1B0238;
    font-size: 50px;
    font-weight: bold;
}
.feature-content p{
    color: gray;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 500;
    line-height: 30px;
}
.feature-content>span{
    color: #ea512e;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
}

.list-box{
    display: flex;
    gap: 24px;
    padding-right: 32px;
    margin-bottom: 35px;
}

.test{
    width: 50%;
}

.list-box div button{
  border: none;
  width: 35px;
  height: 35px;
  background: #ea512e;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  margin-right: 4px;
}
.list-box span{
    color: #1B0238;
    font-weight: 500;
}

.read-btn{
    margin-top: 0;
    border: none;
    padding: 16px 24px;
    background: #ea512e;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.read-btn:hover{
    background: #F5890D;
}

.list-box div button:hover{
    background: #F5890D;
}

.popular-class{
    width: 100%;
    background: #FDF6ED;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.popular-class .classes {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
}
.popular-class .classes p{
    padding-top: 24px;
    color: #ea512e;
    font-style: italic;
    font-weight: 500;
}

.popular-class .classes h1{
    color: #1B0238;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}

.popular-class-box{
    width: 90%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.popular-class-box .box{
    width: 400px;
    background: white;
    border-radius: 20px;
    position: relative;
    z-index: 100000;
}

.popular-class-box .box .content{
    padding: 25px;
}

.popular-class-box .box .content .tag{
    border: none;
    background: #ea512e;
    color: white;
    padding: 10px;
    position: absolute;
    top: 308px;
    right: 0;
    font-weight: bold;
    font-size: 20px;
    border-bottom-left-radius: 10px;
}

.popular-class-box .box .content h4{
    margin-top: 0;
    margin-bottom: 0;
    color: #1B0238;
    font-weight: bold;
    font-size: 30px;
}

.popular-class-box .box .content h4:hover{
    color: #ea512e;
    cursor: pointer;
}

.popular-class-box .box .content p{
    color: gray;
    line-height: 20px;
}

.popular-class-box .box .content .dashedLine{
    border-bottom: 2px dashed #ea512e;
}

.popular-class-box .box .box-image img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popular-class-box .box .box-image{
    overflow: hidden;
}

.popular-class-box .box .box-image img:hover{
    transform: scale(1.3);
    transition: 0.3s;
    cursor: pointer;
}

.popular-class-box .box .content .eligible{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.joinBtn{
  border: none;
  padding: 14px 30px;
  background: #ea512e;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 15px;
}

.joinBtn:hover{
    background: #F5890D;
}

.banner-6{
    position: absolute;
    left: 0;
    top: 760px;
}

.banner-7{
    position: absolute;
    right: 0;
    top: 620px;
}

.value{
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 30px;
    margin-left: 70px;
    position: relative;
    margin-top: 25px;
}

.value h1{
    color: #1B0238;
    font-weight: bold;
    font-size: 45px;
}

.value-content{
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    z-index: 10000000000;
}
 .value-content button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #d3f5fe;
    font-weight: bold;
    font-size: 20px;
 }

 .value-content button:hover{
    background: #ea512e;
    color: white;
 }

 .banner-8{
  position: absolute;
  top: 0;
  left: 0;
 }

.banner-9{
    position: absolute;
    top: 550px;
    left: 0;
}

.banner-10{
    position: absolute;
    top: 60px;
    right: 0;
}

.footer{
    margin-top: 80px;
    background:url(../images/footer-bg.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
}

.balc{
    margin-top: 80px;
    background:black;
    opacity: 0.9;
    width: 100%;
    height: 600px;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}

.about h1{
    font-size: 70px;
    margin-bottom: 0;
}

.about p {
    line-height: 25px;
}

.social button{
    margin-top: 20px;
    border: none;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    background-color: #ea512e;
    color: white;
    cursor: pointer;
}

.footer-bottom{
    background: #091629;
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    padding: 20px;
}

.contact , .activity{
    margin-top: 50px;
}

.contact-details{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-details i{
    color: #ea512e;
}

.contact-details h4{
    margin: 0;
    padding: 0;
}
.contact-details p{
    margin: 2px;
}

.activity ul{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.activity ul li:hover{
    color: #ea512e;
    cursor: pointer;
}


@keyframes move {
    0%{
        left: 40px;
    }
    100%{
        left: 60px;
    }
}
@keyframes moveTwo {
    0%{
        left: 700px;
    }
    100%{
        left: 750px;
    }
}

@keyframes moveThree {
    0%{
        left: 20px;
    }
    100%{
        left: 35px;
    }
}

@keyframes moveFour {
    0%{
        top: 480px;
    }
    100%{
        top: 400px;
    }
}


@media(max-width: 768px)
{
    .toolbar{
        display: flex;
    }

    .tool-btn{
        display: none;
    }

    nav ul {
        display: none;
    }

    nav {
        padding: 10px 16px;
    }

    nav img{
        width: 100px;
    }
}